/*
    SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

    FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/
body.light-mode {
  background-color: #fff;
  color: #333;
}

/*
COLORS:
Dark mode:    gold; #000; #410042; #fff; #d2d2d2; #555555;
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #fff;
  border-top: solid 5px gold;
  background-color: #000000;
  margin: 0 auto;
  padding: 0%;

  transition: background-color 0.6s, color 0.6s;
}

/*NAVBAR*/

nav {
  display: grid;
  grid-template-rows: 50px 50px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  gap: 12px;
  margin: 0 auto;
  margin-bottom: 30px;
  background-color: #410042;
  color: #fff;
  font-size: 18px;
  border-bottom-right-radius: 25%;
  border-bottom-left-radius: 25%;
  border-top: 2px dotted gold;
}

.Lighting {
  grid-row: 1 / 2;
  grid-column: 1 / 3;

  background-color: #fff;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  padding: 5px;
  transform: translate(100%, 120%);
  border: 2px double gold;
}

.Light-icon {
  stroke: #410042;
}
h1 {
  grid-row: 2 / 3;
  grid-column: 2/ 5;

  /* padding-left: 62px;*/
  font-family: "Playfair Display", "sans-serif";
  transform: translateY(-50%);
}

.nav-buttons {
  grid-row: 1 /2;
  grid-column: 4/ 10;
  padding: 32px;
  z-index: 1;
}

.btn {
  padding: 8px 12px;
  margin: 2px 8px 2px 2px;
  background-color: gold;
  cursor: pointer;
  border-radius: 8px;
  font-weight: 600;
  border: none;
}

button:hover {
  background-color: rgb(210, 179, 0);
}

.first-pics {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.pic {
  height: 240px;
  min-height: 100px;
  min-width: 100px;
  border-radius: 25%;
  border: 3px dotted #fff;
}

.pic-1 {
  grid-row: 1/2;
  grid-column: 1/2;
}

.pic-2 {
  grid-row: 1/2;
  grid-column: 2/3;
}

.pic-3 {
  grid-row: 1/2;
  grid-column: 3/4;
}

.pic-4 {
  grid-row: 1/2;
  grid-column: 4/5;
}

.pic-5 {
  grid-row: 1/2;
  grid-column: 5/6;
}

.pic-1,
.pic-3,
.pic-5 {
  transform: translate(0, 5%);
}

.pic-2,
.pic-4 {
  transform: translate(0, -5%);
  border: 3px dotted gold;
}

/*HERO SECTION*/

section {
  display: flex;
  justify-content: center;

  height: 100vh;
  position: relative;
  border-radius: 50px;
  border-top: 2px solid gold;
  border-bottom: 2px solid gold;
  margin: 30px auto;

  background-image: url(Landscape.jpg);
  background-size: cover;
}

h2 {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 40px;
  color: #fff;
}

/*ABOUT SECTION*/

.about {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space between;
  align-items: center;
  height: 500px;
  margin-left: 3%;
  line-height: 200%;
}

.traits {
  grid-column: 1/3;
  max-height: 485px;
}

h1 {
  padding-bottom: 20px;
}

.portrait {
  grid-column: 3/4;
  border: 3px double gold;
  height: 300px;
  width: 300px;
  border-radius: 50%;
}

.portrait:hover {
  transform: rotateY(360deg);
  transition: transform 5s;
}

/*WORK*/

.work {
  height: 500px;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items:center;
}

.game-btn{
display:flex;
justify-content: center;
align-items: center;

  background-image: url(game!.png);
  background-size:cover;

  height:300px;
  width:500px;
  border:2px solid gold;
  border-radius: 20px;
}

.game{
display:flex;
justify-content:center;
align-items:center;
text-decoration:none;

  height:40px;
  width:80px;
  font-size:20px;
  color:#fff;

  background-color:#410042;
  border:none;
  border-radius:10px;

}

/*CONTACTS*/

.contact{
  min-height: 100vh;
  padding:50px;
  text-align:center;
}
.container{
  max-width: 800px;
  margin:0 auto;
}
.container h3{
  font-size: 36px;
  margin-bottom: 40px;
}
.contact-wrapper{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 30px;
}
.contact-form{
  text-align: left;
}
.contact-form h3{
  font-size: 24px;
  margin-bottom: 20px;
}
.form-group{
  margin-bottom: 20px;
}
input, textarea {
  width:100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  background-color: #f8f9fa;
  color: #333;
}
input:focus,
textarea:focus{
  outline:none;
  box-shadow: 0 0 8px #bbb;
}
button{
  display: inline-block;
  padding:12px 24px;
  background-color: gold;
  color: #000;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
  border-radius:20px;
}
button:hover{
  background-color: darkgoldenrod;
}
.contact-info{
  text-align:left;
}
.contact-info h3{
  font-size: 24px;
  margin-bottom:20px;
}
.contact-info p{
  margin-bottom:10px;
}
.contact-info .icon{
  color:darkgoldenrod;
  margin-right: 10px;
}
@media screen and (max-width: 768px){
  .container{
    padding:20px;
  }
  .contact-wrapper{
    grid-template-columns: 1fr;
  }
}
.icon{
  height:20px;
  width:20px;
}

/*FOOTER*/

/*Stock Images from pexels.com */
